<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div style="background-color: <%= @game.turn.color %>; border-radius: 10px"><h3 class="text-center nopadding">tic tac toe</div>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-xs-4 nopadding">
            <div class="block">
              <form action="/game/<%= @game.turn.mode %>/move" method="post">
                <input type='hidden' class='space' name='space' value= '0,0'>
                <% if @game.game.board[0][0] %>
                  <% if @game.game.board[0][0].sym.to_s == "o" %>
                    <input id="1" class='space<%= @game.game.board[0][0].sym.to_s %>' type='submit' value=''>
                  <% elsif @game.game.board[0][0].sym.to_s == "x" %>
                    <input id="1" class='space<%= @game.game.board[0][0].sym.to_s %>' type='submit' value=''>
                  <% end %>
                <% else %>
                  <input id="1" class='space' type='submit' value=''>
                <% end %>
              </form>
            </div>
            <div class="block">
              <form action="/game/<%= @game.turn.mode %>/move" method="post">
                <input type='hidden' class='space' name='space' value= '1,0'>
                <% if @game.game.board[1][0] %>
                  <% if @game.game.board[1][0].sym.to_s == "o" %>
                    <input  id="4" class='space<%= @game.game.board[1][0].sym.to_s %>' type='submit' value=''>
                  <% elsif @game.game.board[1][0].sym.to_s == "x" %>
                    <input  id="4" class='space<%= @game.game.board[1][0].sym.to_s %>' type='submit' value=''>
                  <% end %>
                <% else %>
                  <input id="4" class='space' type='submit' value=''>
                <% end %>
              </form>
            </div>
            <div class="block">
              <form action="/game/<%= @game.turn.mode %>/move" method="post">
                <input type='hidden' class='space' name='space' value= '2,0'>
                <% if @game.game.board[2][0] %>
                  <% if @game.game.board[2][0].sym.to_s == "o" %>
                    <input id="7" class='space<%= @game.game.board[2][0].sym.to_s %>' type='submit' value=''>
                  <% elsif @game.game.board[2][0].sym.to_s == "x" %>
                    <input id="7" class='space<%= @game.game.board[2][0].sym.to_s %>' type='submit' value=''>
                  <% end %>
                <% else %>
                  <input id="7" class='space' type='submit' value=''>
                <% end %>
              </form>
            </div>
          </div>
          <div class="col-xs-4 nopadding">
            <div class="block">
              <form action="/game/<%= @game.turn.mode %>/move" method="post">
                <input type='hidden' class='space' name='space' value= '0,1'>
                <% if @game.game.board[0][1] %>
                  <% if @game.game.board[0][1].sym.to_s == "o" %>
                    <input id="2" class='space<%= @game.game.board[0][1].sym.to_s %>' type='submit' value=''>
                  <% elsif @game.game.board[0][1].sym.to_s == "x" %>
                    <input id="2" class='space<%= @game.game.board[0][1].sym.to_s %>' type='submit' value=''>
                  <% end %>
                  <% else %>
                  <input id="2" class='space' type='submit' value=''>
                <% end %>
              </form>
            </div>
            <div class="block">
              <form action="/game/<%= @game.turn.mode %>/move" method="post">
                <input type='hidden' class='space' name='space' value= '1,1'>
                <% if @game.game.board[1][1] %>
                  <% if @game.game.board[1][1].sym.to_s == "o" %>
                    <input id="5" class='space<%= @game.game.board[1][1].sym.to_s %>' type='submit' value=''>
                  <% elsif @game.game.board[1][1].sym.to_s == "x" %>
                    <input id="5" class='space<%= @game.game.board[1][1].sym.to_s %>' type='submit' value=''>
                  <% end %>
                <% else %>
                  <input id="5" class='space' type='submit' value=''>
                <% end %>
              </form>
            </div>
            <div class="block">
              <form action="/game/<%= @game.turn.mode %>/move" method="post">
                <input type='hidden' class='space' name='space' value= '2,1'>
                <% if @game.game.board[2][1] %>
                  <% if @game.game.board[2][1].sym.to_s == "o" %>
                    <input id="8" class='space<%= @game.game.board[2][1].sym.to_s %>' type='submit' value=''>
                  <% elsif @game.game.board[2][1].sym.to_s == "x" %>
                    <input id="8" class='space<%= @game.game.board[2][1].sym.to_s %>' type='submit' value=''>
                  <% end %>
                <% else %>
                  <input id="8" class='space' type='submit' value=''>
                <% end %>
              </form>
            </div>
          </div>
          <div class="col-xs-4 nopadding">
            <div class="block">
              <form action="/game/<%= @game.turn.mode %>/move" method="post">
                <input type='hidden' class='space' name='space' value= '0,2'>
                <% if @game.game.board[0][2] %>
                  <% if @game.game.board[0][2].sym.to_s == "o" %>
                    <input id="3" class='space<%= @game.game.board[0][2].sym.to_s %>' type='submit' value=''>
                  <% elsif @game.game.board[0][2].sym.to_s == "x" %>
                    <input id="3" class='space<%= @game.game.board[0][2].sym.to_s %>' type='submit' value=''>
                  <% end %>
                <% else %>
                  <input id="3" class='space' type='submit' value=''>
                <% end %>
              </form>
            </div>
            <div class="block">
              <form action="/game/<%= @game.turn.mode %>/move" method="post">
                <input type='hidden' class='space' name='space' value= '1,2'>
                <% if @game.game.board[1][2] %>
                  <% if @game.game.board[1][2].sym.to_s == "o" %>
                    <input id="6" class='space<%= @game.game.board[1][2].sym.to_s %>' type='submit' value=''>
                  <% elsif @game.game.board[1][2].sym.to_s == "x" %>
                    <input id="6" class='space<%= @game.game.board[1][2].sym.to_s %>' type='submit' value=''>
                  <% end %>
                <% else %>
                  <input id="6" class='space' type='submit' value=''>
                <% end %>
              </form>
            </div>
            <div class="block">
              <form action="/game/<%= @game.turn.mode %>/move" method="post">
                <input type='hidden' class='space' name='space' value= '2,2'>
                <% if @game.game.board[2][2] %>
                  <% if @game.game.board[2][2].sym.to_s == "o" %>
                    <input id="9" class='space<%= @game.game.board[2][2].sym.to_s %>' type='submit' value=''>
                  <% elsif @game.game.board[2][2].sym.to_s == "x" %>
                    <input id="9" class='space<%= @game.game.board[2][2].sym.to_s %>' type='submit' value=''>
                  <% end %>
                <% else %>
                  <input id="9" class='space' type='submit' value=''>
                <% end %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
